*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color:#10cab7;
    --bgcolor:#f6f6f6;
    
}
body {
  font-family: "Work Sans", sans-serif;
    
}
html {
    scroll-behavior: smooth;
}
.container {
    width: 1000px;
    padding:  0 20px; 
    margin-left: 50%;
    transform: translateX(-50%);                                                                                                
}
.page{
    width: 100%;
    position: relative;
}
nav >.container{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > div{
    display: inline-block;
}
nav div img{
    width: 70px;
    padding-top: 50%;
    transform: translateY(-30%);
}
nav .list{
    overflow: hidden;
    height: 60px;
    margin-top: 100%;
}
.list div div{
    width:35px;
    height: 2px;
    margin-bottom: 5px;
    background-color: black;
    transition: .5s ease;

}
.list div:nth-child(2){
    margin-left: 50%;
}
.link-list{
    display: none;
    position: absolute;
    z-index: 100;
    top:60px;
    right:11%;
}
.link-list li a{
    background-color: transparent;
    margin-bottom: 1px;
    text-decoration: none;
    color:black;
    font-weight: 400;
    padding-right: 100px;
}
.link-list li{
    border-bottom: 2px solid #ccc;
    width: 190px;
    list-style: none;
    padding: 10px 40px 10px 15px;
    transition: 0.5s ease;
    background-color: #fff;
}


.list:hover div.mid{
    margin-left: 0%;
}
.list:hover .choice-list{
    display: inline;

}
.link-list li:hover{
    padding-left: 30px;
}
.landing {
    background-image: url(image_leon/landing.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.landing .container {
    text-align: center;
    margin-top: 15%;
}
.landing div h1{
    color: var(--main-color);
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
.landing p{
    line-height: 30px;
    font-size: 20px;
}
.feature {
    width: 100%;
    background-color: var(--bgcolor);

}
.feature i {
    color: var(--main-color);
}
.feature .container {
    display: flex;
    justify-content: space-between;
    text-align:  center;
    height: fit-content;
    padding-top:100px  ;
    padding-bottom:100px  ;
}
.feature .container> div {
    width: calc((100% - 120px)/3);
}


.feature >div h3 {
    margin: 20px 0;
}
.feature > div  p{
    font-size: 17px;
    color: #777;
    line-height: 25px;
}
.services {
    width: 100%;
    margin-bottom: 100px;
}

.services .container-external {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px ;
}
.services .container-external > div.services-content {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}
.services i {
    margin-left: -50px;
    margin-top: 0px;
    position: absolute;
    color: var(--main-color);
}
.services .container-external > div.services-content > div {
    width: calc((100% - 90px)/2);
}
.services .container-external > div.services-content > div p{
    color: #797979;
    line-height: 30px;
    margin: 10px 0;
}
.main-header h1 {
    margin: 15px 0;
    padding: 50px 50px 0 50px;
    font-size: 6em;
    text-align: center;
    color:#ebeced;
}
.main-header + p {
    text-align: center;
    margin-top: -40px;
    color: #797979;
    font-size: 20px;
}

.services .img-services{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    position: relative;

}
.img-services img{
    width: 93%;
}
.img-services::after{
    content: "";
    height: 100%;
    width: 80px;
    position: absolute;
    background-color: rgb(55, 61, 79);
    right: -15px;
    z-index: -1;
}
::selection {
    color: #fff;
    background-color: rgb(88, 88, 251);
}
.portfolio {
    background-color: var(--bgcolor);
    padding-bottom: 100px;
}
.portfolio .container>div.container-external {
    width: 100%;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.portfolio div.container-external div {
    width: calc((100% - 130px)/3);
    background-color: #fff;
    min-width: 296px;
    max-width: 443px;
    margin-bottom: 40px;


}
 
.portfolio >div div img {
    width: 100%;
}
.portfolio >div div h3 {
    margin: 30px 0 15px 0;
    padding-left:15px ;
}
.portfolio >div div p {
    padding: 15px;

}
.about{
    padding-bottom: 100px;
}
.about div.container-external {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    text-align: center;
}
.about div.container-external .img-about {
    text-align: left;
    width: 30%;
}
.about > div img {
    height:360px;
}
.about .container-external .contact-about {
    width: 58%;
    text-align: left;
}
 
.about >div div p {
    line-height: 26px;
}
.about >div div  p:nth-child(1){
    font-weight: bold;
}
.about hr {
    border-bottom: 1px solid aqua;
    width: 60%;
    margin: 30px 0;
    margin-left: 5px;
}
.about .img-about{
    width: 27%;
    height: 100%;
    position: relative;


}
.about .img-about::before  {
    content: "";
    height: 120%;
    width: 90px;
    position: absolute;
    background-color: #eee;
    left: -45px;
    z-index: -1;
    top: -10%;
}
.about .img-about::after  {
    content: "";
    height: 80%;
    width: 90px;
    position: absolute;
    background-color: transparent;
    right: -80px;
    z-index: -1;
    top: -10%;
    border-bottom: 70px solid var(--main-color);
    border-left: 78px solid var(--main-color);
}
.contact {
    width: 100%;
    background-color:var(--bgcolor);
    padding-bottom: 20px;
}


.contact .email {
    padding: 40px 0;
    text-align: center;
    line-height:40px;
}
.contact .email >p:nth-child(1) {
    margin: 20px;
    color: #2c4755;
    font-size: 2.2em;
    letter-spacing: -3px;
    font-weight: bold;
}
.contact a{
    text-decoration: none;
    color: var(--main-color);
    font-size: 2.2em;
    font-weight: bold;
    display: block;
}
.contact a + p{
    display: inline;
 }
.contact i {
    margin-right: 8px;
    color: #000000b8;

 }
footer {
    height: 80px;
    background-color: #24464f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
footer p span{
color: aqua;
}
